.App {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
  max-width: 600px;
  margin: auto;
}
.item {
  width: 25%;
  height: auto;
}
img {
  width: auto;
  height: 120px;
}
#title{
  text-align: center;
}
#title button{
  margin-left: 20px;
}
